#inducto_popover {
	position: absolute;
	background: #E2E2E2;
	padding: 15px;
	box-shadow: -1px 1px 2px #B0B0B0;
	z-index: 10;
	color: #000;
	top: 45px;
	transform: translate(-40%, 0);
}

#inducto_popover h1 {
	color: #EF6532;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

#inducto_popover p {
	clear: both;
}

#inducto_close {
	float:right;
	padding:5px;
	color: #000 !important;
	font-weight: bold;
}

#inducto_close:hover {
	cursor: pointer;
}

#inducto_popover:after, #inducto_popover:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#inducto_popover:after {
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #E2E2E2;
	border-width: 15px;
	margin-left: -15px;
}